@{
    ViewBag.Title = "About ASP.net MVC Awesome Demo";
}
<div style="font-size: 13px; line-height: 1.8em;">
    <h3>ASP.net MVC Awesome Demo</h3>
    
    Demo application for ASP.net MVC Awesome helpers
    <a href="http://aspnetawesome.com">http://aspnetawesome.com</a>
    <br/>
    using @Html.Awe().About()
    <br/>
    <b>Download</b><br />
    you can download this demo <a href="http://aspnetawesome.com/Download/MvcDemoApp">here</a>
    <br />
    <b>See also:</b><br />
    ProDinner demo application (uses Entity Framework):  <a href="http://prodinner.aspnetawesome.com">http://prodinner.aspnetawesome.com</a>
    <a href="http://aspnetawesome.com/Download/ProDinner">download</a>
    <br />
    <h2>Learning Resources</h2>
    Documentation: <a href="http://aspnetawesome.com/learn">http://aspnetawesome.com/learn</a><br />
    Video Tutorials: <a href="http://aspnetawesome.com/learn/mvc/VideoTutorials">http://aspnetawesome.com/learn/mvc/VideoTutorials</a><br />
    Forum: <a href="http://aspnetawesome.com/forum">http://aspnetawesome.com/forum</a><br />
    Purchase: <a href="http://aspnetawesome.com/buy">http://aspnetawesome.com/buy</a><br />
    Contact us/feedback: <a href="http://aspnetawesome.com/ContactUs">http://aspnetawesome.com/ContactUs</a>
    <br />
</div>
<br />
<!-- Place this tag where you want the +1 button to render -->
<div class="g-plusone" data-size="medium" data-annotation="none" data-href="http://demo.aspnetawesome.com">
</div>
<!-- Place this render call where appropriate -->
<script type="text/javascript">
    (function () {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
</script>

<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://demo.aspnetawesome.com"
    data-text="ASP.net MVC Awesome Demo" data-count="none" data-hashtags="aspnetawesome">Tweet</a>
<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2Faspnet-mvc-project-awesome%2F145701755486515&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21" scrolling="no" frameborder="0" style="border: none; overflow: hidden; width: 100px; height: 21px;" allowtransparency="true"></iframe>
