.ico-edit, .ico-del, .ico-restore
{
    background-image: url(editdel.png);
}

/*button group*/
.buttonGroup
{
    display: inline;
    display: inline-block;
}

    .buttonGroup .awe-btn
    {
        border-radius: 0;
        padding: 7px;
        outline: none;
        font-size: 0.9em;
        border: 1px solid rgba(0, 0, 0, 0.1);
        
    }

    .buttonGroup .awe-btn.awe-selected {
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
    }

        .buttonGroup .awe-btn:first-of-type, .awe-rtl .buttonGroup .awe-btn:last-of-type
        {
            border-radius: 3px 0 0 3px;
        }


        .buttonGroup .awe-btn:last-of-type, .awe-rtl .buttonGroup .awe-btn:first-of-type
        {
            border-radius: 0 3px 3px 0;
        }

/*odropdown*/

.odfield .awe-loading {
    position: absolute;
    z-index: 1;
    margin: 4px 0 0 10px;
}

.omenu [type=radio], .odropdown [type=checkbox]
{
    display: none;
}

.odropdown
{
    cursor: pointer;
    position: relative;
    min-width: 12em;
    line-height: normal;
}

.ocaret
{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: -4px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid #000000;
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-left: 4px solid #000000;
    border-left: 4px solid rgba(0, 0, 0, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -2px;
}

.o {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  top: 50%;
  left: 50%;
  border-radius: 3px;
  border: 3px solid #92B7C9;
  margin: -2px 1px 0 1px;
}

.onotcont {
    position: fixed;
    top: 10px;
    right: 10px;
    max-width: 450px;
    z-index: 2000;
}

@media (min-width: 1280px) {
    .onotcont {
        min-width: 450px;
    }
}

.onotp {
    position: relative;
    color: #F8F9F5;
    border: 1px solid #303948;
    background: #445869;
    border-radius: 5px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
    padding: 5px 10px;
    margin-bottom: 5px;
    opacity: 0.97;
    overflow: hidden;
}

.oclose {
    position: absolute;
    top: 5px;
    right: 3px;
    cursor: pointer;
    
    padding: 0 10px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.oclose:hover {
    color: #fff;
}

.onotc {
    margin:5px 20px;
    overflow: auto;
}

.olbrd {
    position: absolute;
    left: 0;
    height: 100%;
    width: 10px;
    top: 0;
    background: linear-gradient(to bottom, #b7dddf 0%,#b2ecef 44%,#b2ecef 100%);
}

.err .olbrd {
    background: linear-gradient(to bottom, #F57070 0%,#CE5252 44%,#CE5252 100%);
}

.omenu
{
    display: none;
    position: absolute;
    z-index: 1000;
    border: 1px solid #303948;
    background: #445869;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
    -webkit-background-clip: padding-box;
    padding: 6px 0;
    list-style: none;
    box-sizing: border-box;
    color: #F8F9F5;
    outline: none;
    top: 0;
}

    .omenu .oitemscont
    {
        overflow-x: hidden;
    }

    .omenu .omenuitems
    {
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        outline: none;
    }

    .omenu.open
    {
        display: block;
    }

.oitem
{
    line-height: 2em;
    padding: 0 27px;
    cursor: pointer;
}

.omobile .oitem
{
    padding: 4.5px 27px;
}

.oitem.focus
{
    background-color: #5A849C;
    color: #fff;
}

.oitem.selected
{
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAKCAYAAACwoK7bAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sLHAoBFjlqnrwAAACUSURBVCjPrdMhCgJREAbgXRU0eARPICyYPYZ9BU9g9QQG7YJNzAoW72Db5B2MJoMgn8EHLiuG1ffH4fHBzJtJkojBGBfkMdGZV7axwBTzgJ7RjYWuAnpDvy6QIavUGth4J6+LdnDCDqNQa2JfQte/tjzAHQ8scSyhBdr/zHPqM1f0YnzWogIPkcZar0M4ggla3949AREf0AnV0H4LAAAAAElFTkSuQmCC) no-repeat left center rgba(0, 0, 0, 0);
}

    .oitem.selected.focus
    {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAKCAYAAACwoK7bAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sLHAoBFjlqnrwAAACUSURBVCjPrdMhCgJREAbgXRU0eARPICyYPYZ9BU9g9QQG7YJNzAoW72Db5B2MJoMgn8EHLiuG1ffH4fHBzJtJkojBGBfkMdGZV7axwBTzgJ7RjYWuAnpDvy6QIavUGth4J6+LdnDCDqNQa2JfQte/tjzAHQ8scSyhBdr/zHPqM1f0YnzWogIPkcZar0M4ggla3949AREf0AnV0H4LAAAAAElFTkSuQmCC) no-repeat left center #5A849C;
    }

.oddbtn
{
    cursor: pointer;
    padding: 0 !important;
    text-align: left;
    width: 100%;
    font: inherit;
    line-height: inherit !important;
    vertical-align: middle;
}

    .oddbtn .caption
    {
        padding: 0.4em 0.7em;
        padding-right: 2.5em;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        white-space: nowrap;
    }

.awe-rtl .oddbtn .caption
{
    padding-right: 1em;
    padding-left: 2.5em;
    text-align: right;
}

.selbtn
{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 2.5em;
    text-align: center;
}

.awe-rtl .selbtn
{
    right: auto;
    left: 0;
}

.osrccont
{
    position: relative;
    padding: 5px;
}

.osrccont .awe-loading 
{
    top: 8px;
    right: 20px;
    display: none;
}

.odisplay .awe-loading 
{
    right: 30px;
    display: none;
}

.multiselect .odisplay .awe-loading 
{
    right: 10px;
    top: 3px;
}

.oldng .awe-loading 
{
    display: block;
}

input[type="text"].osearch
{
    width: 100%;
    cursor: auto !important;
    box-sizing: border-box;
}

.empty
{
    text-align: center;
    color: #ccc;
}

.oinfo {
    text-align: center;
    color: #aaa;
    font-size: 0.9em;
    padding: 0.5em 1em;
}

/*multiselect*/

.multiItem
{
    border-radius: 3px;
    margin-right: 2px;
    padding: 2px 27px 2px 7px;
    line-height: 1.5em;
}

.awe-rtl .multiItem {
    margin-right: 0;
    margin-left: 2px;
}

.multi input.osearch
{
    border: none;
    width: 0;
    padding: 0;
    outline: none;
    box-shadow: none;
    background: transparent;
}

.multi
{
    background: #3D4A5A;
    cursor: text;
    border: 1px solid #303948;
    padding: 0.1em 0.3em;
    border-radius: 2px;
    line-height: 2.1em;
}

.multiRem
{
    cursor: pointer;
    padding: 2px 8px;
    position: absolute;
    top: 0;
    right: 0;
}

.multi .caption
{
    color: gainsboro;
    padding: 0 5px;
}

/*color dropdown*/

.colorItem
{
    width: 100%;
    display: block;
    border-radius: 3px;
}

.colordd .caption
{
    display: block;
}

.colordd .color
{
    border-radius: 2px;
}

.colorddmenu .oitem
{
    padding: 2px 27px;
}

/*img dropdown*/

.imgdd .caption img
{
    width: 20px;
    height: 15px;
    margin-right: 5px;
}

.imgddmenu .oitem
{
    min-width: 180px;
}

.imgddItem img
{
    vertical-align: middle;
}

/* combobox */

.cdropbtn.awe-btn
{
    position: absolute;
    top: 0;
    right: 0;
    width: 2.5em;
    height: 100%;
    border-radius: 0 3px 3px 0;
    text-align: center;
    border: none;
    background: none;
    outline: none;
}

.awe-rtl .cdropbtn
{
    right: auto;
    left: 0;
    border-radius: 3px 0 0 3px;
}

.cdropbtn .selbtn
{
    position: inherit;
}

input.combotxt[type="text"]
{
    margin: 0;
    border-radius: 3px;
    padding: 0.4em 0.7em;
    font-size: inherit;
    padding-right: 2.5em;
}

    input.combotxt[type="text"]::-ms-clear
    {
        display: none;
    }

.awe-rtl input.combotxt[type="text"]
{
    padding-right: 5px;
    padding-left: 35px;
}

/* dropdown popup */

.opmodal {
    position: fixed;
    background: #5A849C;
    top: 0;
    opacity: 0.5;
    height: 100%;
    width: 100%;
}

.opwrap
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.opheader {
    position: relative;
    padding: 11px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.optitle {
    line-height: 1.43;
}

.opheader .oclose {
    font-size: 21px;
    opacity: 0.5;
}

.opcontent {
    padding: .7em;
    position: relative;
    padding-bottom: .5em;
    overflow: auto;
    min-height: 35px;
    min-width: 250px;
    box-sizing: border-box;
}

.opcont
{
    position: absolute;
    z-index: 1;
    border: 1px solid #384454;
    background: #445869;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
    -webkit-background-clip: padding-box;
    min-height: 50px;
    outline: none;
    color: #F8F9F5;
    box-sizing: border-box;
}

    .opcont .awe-li
    {
        -webkit-user-select: none; /* Chrome/Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none;
    }

    .opcont .awe-multilookup-popup .awe-searchtxt, .opcont .awe-lookup-popup .awe-searchtxt
    {
        width: 100%;
        box-sizing: border-box;
    }

    .opcont .awe-searchbtn
    {
        display: none;
    }

.opbtns
{
    text-align: right;
    padding: 0.5em .7em .7em;
    border-top: 1px solid #303948;
}

/* grid mods */
.gridPageInfo
{
    float: right;
    padding-right: 25px;
    min-width: 150px;
}

.awe-rtl .gridPageInfo
{
    float: left;
    padding-right: initial;
    padding-left: 25px;
}

.gridPageSize
{
    margin: 0 10px;
}

.gridColSel {
    float: right;
}

.gridColSel.awe-rtl {
    float: left;
}

.gridColSel .caption, .awe-rtl .gridColSel .caption {
    padding-right: 0.7em;
    padding-left: 0.7em;
}

.gridColSel .selbtn {
    display: none;
}

.gridColSel .odropbtn {
    outline: none;
}

.gridColSel .odropdown {
    min-width: inherit;
}

/* inline popup, dropdownPopup */
.inl-btn
{
    min-width: 70px;
    padding: 5px;
    margin-right: 3px;
}

.inl-txt
{
    vertical-align: middle;
    margin: 0 1em;
}

.oinlpop
{
    margin: .5em;
    padding: 5px;
    position: relative;
}

    .oinlpop .awe-popup
    {
        padding: .90em 0;
        position: relative;
    }

/* ingline editing grid */
    .awe-row .awe-txt
    {
        width: 100%;
        padding: 1px 5px 1px;
    }

    .awe-row .awe-datepicker-field
    {
        width: 100%;
        min-width: initial;
    }

    .awe-row .awe-field
    {
        width: 100%;
        min-width: initial;
    }

    .awe-row .odropdown {
        min-width: initial;
    }

    .ginlrow
    {
        vertical-align: top;
    }

/* custom loading */
.ogempt
{
    width: 100%;
    font-size: 7em;
    color: gainsboro;
    text-align: center;
}

@media (max-width: 1280px) {
    .ogempt {
        font-size: 3em;
    }
}

.spinCont
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: rgba(242, 240, 240, 0.64);
    overflow: hidden;
}

.spinner {
  margin: 50px auto;
  width: 50px;
  height: 50px;
  position: relative;
  text-align: center;
  
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #445869;
  border-radius: 100%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
/* end custom loading */

/* scheduler */

.scheduler
{
    margin-top: 5px;
}

    .scheduler .agendaRow.awe-row td
    {
        padding: 5px;
    }

.nextbtn, .prevbtn
{
    width: 30px;
}

.scheduler .awe-grid
{
    border: none;
}

.schedBar .awe-datepicker-field
{
    min-width: inherit;
    vertical-align: middle;
    height: 2em;
}

    .schedBar .awe-datepicker-field .awe-btn
    {
        border-radius: 2px;
        width: 2.2em;
    }

    .schedBar .awe-datepicker-field input[type="text"].awe-display
    {
        width: 0;
        height: 0;
        padding: 0;
    }

.schedBar
{
    background-color: #F7F7F7;
    padding: 5px;
    overflow: auto;
}

.schedBotBar
{
    background-color: #F7F7F7;
    padding: 5px;
}

.day:hover
{
    text-decoration: underline;
    cursor: pointer;
}

.schedEvent
{
    background: blueviolet;
    border-radius: 3px;
    padding: 2px 5px;
    color: white;
    margin-bottom: 1px;
    overflow: hidden;
    font-size: 13px;
    line-height: 1.3em;
}

    .schedEvent:not(:last-child)
    {
        margin-bottom: 3px;
    }

.time
{
    font-size: 10px;
    font-family: arial;
    float: left;
}

.delEvent
{
    float: right;
    background: transparent;
    margin: 0 5px;
}

.timePart
{
    min-height: 30px;
    padding: 0.4em 1em;
    display: inline-block;
    height: 100%;
    width: 100%;
}

.timeLabel
{
    padding: .5em;
}

.scheduler .awe-row td
{
    padding: 0;
    vertical-align: top;
}

.eventTitle
{
    clear: both;
}

    .eventTitle:hover
    {
        text-decoration: underline;
        cursor: pointer;
    }
/* end scheduler */

.modal-body {
    min-height: 100px;
}

.modal-content {
    border-color: #384454;
    background: #445869;
    color: #F8F9F5;
    padding: 0;
}

.modal-title {
    color: #F8F9F5;
}

.modal-header, .modal-footer {
    border-color: #384454;
}

.btn-default {
    border: 1px solid #2B3443;
    background-image: linear-gradient(to bottom, #55697A 0, #435060 100%);
    background-color: #445869;
    color: #F8F9F5;
}

.btn:hover, .btn:focus, .btn.focus {
    background-image: linear-gradient(to bottom, #65798a 0, #536070 100%);
    background-color: #435060;
    color: #F8F9F5;
    border: 1px solid #2B3443;
}

.btn:active, .btn.active {
    background-image: linear-gradient(to bottom, #5A697A 0, #445869 100%);
    background-color: #445869;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}