/*
bui
*/

.awe-lookup-field, .awe-multilookup-field, .awe-datepicker-field,
.awe-ajaxradiolist-field, .awe-ajaxcheckboxlist-field, .awe-ajaxdropdown-field,
.awe-ajaxradiolist-field > ul, .awe-ajaxcheckboxlist-field > ul,
.awe-multilookup-field .awe-display,
.awe-lookup-field .awe-display, .awe-datepicker-field .awe-display,
.awe-btn, .awe-il, .awe-ce-ico, .awe-loading, .awe-loading span,
.awe-grid .awe-pager, .awe-grid .awe-relbox,
.awe-groupbar .awe-col,
.awe-sord, .awe-rem, .awe-reload-ico, .awe-display, .awe-field
{
    display: inline-block;
    *display: inline;
    zoom: 1;
    box-sizing: border-box;
    vertical-align: middle;
    position: relative;
}

.awe-timepicker-field select {
    width: auto;
}

.awe-multilookup-field, .awe-lookup-field, .awe-datepicker-field
{
    padding-right: 2em;
    position: relative;
    min-width: 13em;
    line-height: normal;
}

.awe-display
{
    width: 100%;
}

    .awe-display .awe-label
    {
        font-weight: normal;
    }

    .awe-chk-field .awe-display 
    {
        width: auto;
        margin: 0;
    }

    .awe-chk-field.awe-field 
    {
        min-width: initial;
        vertical-align: baseline;
    }

    .awe-display input[type="radio"], .awe-display input[type="checkbox"]
    {
        margin: 0;
        margin-right: 3px;
        vertical-align: middle;
        margin-bottom: 1px;
        margin-left: 3px;
    }

.awe-caption
{
    padding: 0.2em 0.7em;
}

.awe-multilookup-field .awe-display, .awe-lookup-field .awe-display, .awe-datepicker-field .awe-display
{
    vertical-align: middle;
    background: white;
    min-height: 1.9em;
    border-radius: 3px 0 0 3px;
}

.awe-lookup-field .awe-display, .awe-datepicker-field .awe-display
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    width: 100%;
    overflow: hidden;
    margin: 0;
    font-size: inherit;
}

.awe-datepicker-field input[type="text"].awe-display
{
    padding: 0.2em 0.7em;
    border-radius: 3px 0 0 3px;
}

.awe-datepicker-field input::-ms-clear 
{
    display: none;
}

.awe-lookup-field .awe-display
{
    border: 1px solid gainsboro;
}

.awe-multilookup-field .awe-display
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    border: solid 1px gainsboro;
}

    .awe-multilookup-field .awe-display li
    {
        padding: 0.2em 0.7em;
        line-height: 1.2em;
    }

.awe-ajaxradiolist-field input, .awe-ajaxradiolist-field label, .awe-ajaxcheckboxlist-field label, .awe-ajaxcheckboxlist-field input
{
    cursor: pointer;
}

.awe-ajaxradiolist-field ul, .awe-ajaxcheckboxlist-field ul
{
    padding: 0;
    margin: 0;
    list-style: none;
}

/* ajaxlist */
table.awe-ajaxlist
{
    border-spacing: 0;
    border-collapse: separate;
    table-layout: fixed;
}

    table.awe-ajaxlist th:first-child
    {
        border-radius: 5px 0 0 0;
    }

    table.awe-ajaxlist th:last-child
    {
        border-radius: 0 5px 0 0;
    }

    table.awe-ajaxlist tr:last-child td:last-child
    {
        border-radius: 0 0 5px 0;
    }

    table.awe-ajaxlist tr:last-child td:first-child
    {
        border-radius: 0 0 0 5px;
    }

.awe-ajaxlist
{
    border: 1px solid #ccc;
    padding: 0;
    width: 100%;
    *width: 99%;
    border-radius: 5px;
}

    .awe-ajaxlist.awe-lookup-list
    {
        border: none;
    }

    .awe-ajaxlist li.awe-li
    {
        padding: 5px;
        overflow: hidden;
    }

li.awe-li.awe-morecont
{
    background: #FFF;
    border-radius: 5px;
    padding: 3px;
}

.awe-ajaxlist th, .awe-ajaxlist td, .awe-list td, .awe-list th
{
    padding: 7px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.awe-morecont td
{
    padding: 2px;
}

.awe-ajaxlist th, .awe-ajaxlist td
{
    border-bottom: 1px solid #eee;
}

.awe-ajaxlist thead, .awe-list thead
{
    color: #555;
    background-color: #fafafa;
}

.awe-list table
{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.awe-list ul
{
    padding: 0;
    margin: 0;
    list-style: none;
}

.awe-srlcont, .awe-selcont
{
    margin-top: .5em;
}

tr.awe-li
{
    border-top: 1px solid #E5E5E5;
}

.awe-li:not(.awe-morecont)
{
    border-bottom: 1px solid #E5E5E5;
    line-height: 1.7em;
    background-color: white;
    margin: 1px;
    vertical-align: middle !important;
}

/* lookup multilookup */
.awe-multilookup-popup .awe-list, .awe-lookup-popup .awe-list
{
    border-radius: 3px;
    border: gainsboro solid 1px;
    overflow-y: scroll !important;
}

.awe-lookup-popup .awe-li, .awe-multilookup-popup .awe-li
{
    padding: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.awe-multilookup-popup .awe-ajaxlist li.awe-li, .awe-drag.awe-li
{
    padding: 3px 5px;
}

tr.awe-drag td
{
    padding-right: 10px;
}

.awe-selectable li.awe-li:not(.awe-morecont):hover
{
    outline: 1px solid gold;
}

.awe-selectable tr.awe-li:not(.awe-morecont):hover td
{
    border-bottom: 1px solid gold;
    border-top: 1px solid gold;
}

/* buttons */
.awe-btn, .ui-button.ui-state-default, .ui-widget-header .ui-state-default, .awe-morebtn, .awe-spincont
{
    cursor: pointer;
    border: 1px solid #ccc;
    background-image: none;
    border-color: #e5e5e5 #e5e5e5 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    background-image: linear-gradient(to bottom, #ffffff, #e5e5e5);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #f5f5f5;
    border-radius: 4px;
    color: #333;
    padding: 2px 3px;
    text-align: center;
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    margin: 0;
    font: inherit;
}

.awe-btn.awe-disabled, .awe-btn[disabled] {
    color: gray;
}

    .awe-btn::-moz-focus-inner
    {
        border: 0;
        padding: 0;
    }

    .awe-btn:hover, .ui-button.ui-state-hover, .awe-morebtn:hover,
    .awe-btn:focus, .ui-button.ui-state-focus, .awe-morebtn:focus
    {
        color: #333;
        background-position: 0 -15px;
        -webkit-transition: background-position 0.1s linear;
        -moz-transition: background-position 0.1s linear;
        -o-transition: background-position 0.1s linear;
        transition: background-position 0.1s linear;
        background-color: #e5e5e5;
    }

    .awe-btn:active, .ui-button.ui-state-active, .awe-morebtn:active, .awe-btn.awe-selected
    {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
        border-color: #C5C5C5;
        background-color: #E9E9E9;
        background-image: none;
    }

    .awe-btn.awe-selected.awe-spinbtn {
        
        box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.25),0 1px 0 white;
    }

    .awe-btn.awe-disabled, .awe-btn[disabled] {
        color: gray;
        border: 1px solid #D3D3D3;
        background-image: none;
        background-image: linear-gradient(to bottom, #FCFCFC 0, #F8F8F8 100%);
        background-color: #F8F8F8;
        box-shadow: none;
    }
.awe-openbtn, .awe-dpbtn, .awe-clearbtn
{
    border-radius: 0 4px 4px 0;
    padding: 0;
    height: 1.9em;
    position: absolute;
    top: 0;
    right: 0;
    width: 2em;
	border-left-style: none;
}

.awe-clearbtn
{
    display: none;
}

.awe-hasval .awe-clearbtn
{
    display: inherit;
}

.awe-clearbtn
{
    border: none;
    background: none;
    right: 2em;
    outline: none;
    opacity: 0.5;
    width: 1.8em;
}

.awe-clearbtn:hover
{
    background: none;
}

.awe-clearbtn:active
{
    box-shadow: none;
}

.awe-morebtn
{
    font-weight: bold;
    text-align: center;
    padding: 7px 9px;
    margin: 3px;
    border-radius: 3px;
}

.awe-movebtn
{
    padding: 0;
    margin: 1px 5px;
    vertical-align: middle;
    height: 30px;
    width: 36px;
    position: relative;
}

/* icons */
.awe-icon
{
    display: block;
    height: 18px;
    width: 18px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url(awe_icons.png);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -9px;
    margin-top: -9px;
}

.awe-icon-datepicker
{
    background-position: -9px -50px;
}

.awe-icon-x
{
    background-position: -36px -28px;
}

.awe-icon-win
{
    background-position: -9px -28px;
}

.awe-srl .awe-movebtn .awe-icon
{
    background-position: -8px -5px;
}

.awe-sel .awe-movebtn .awe-icon
{
    background-position: -35px -5px;
}

/* pager */

.awe-pager .awe-btn
{
    height: inherit;
    padding: 7px 12px;
    text-decoration: none;
    margin-right: 0.2em;
}

.awe-pager .awe-btn:focus {
    outline: none;
}

/* grid */

.awe-grid
{
    border: 1px solid gainsboro;
    border-radius: 2px;
    background: #F7F7F7;
}

.awe-mcontent
{
    position: relative;
}

.awe-tablc
{
    background: #F7F7F7;
}

.awe-gfc
{
    display: none;
}

    .awe-gfc .awe-tablc
    {
        overflow-x: scroll;
    }

.awe-tablw
{
    position: relative;
}

.awe-hcon
{
    overflow: hidden;
}

.awe-tablc
{
    overflow-x: auto;
}

.awe-grid table
{
    table-layout: fixed;
}

.awe-resh
{
    position: absolute;
    background-color: transparent;
    width: 10px;
    height: 10px;
    cursor: col-resize;
    z-index: 11001;
}

.awe-reh {
    position: absolute;
    width: 10px;
    z-index: 11001;
}

.awe-reh .awe-spindown-ico {
    top: -5px;
}

.awe-reh .awe-spinup-ico {
    top: auto;
    bottom: -5px;
}

.awe-drag
{
    position: absolute;
    border: 1px solid gainsboro;
    border-radius: 3px;
    line-height: 20px !important;
    z-index: 11002;
    list-style: none;
    opacity: 0.95;
    cursor: default;
}

.awe-grid .awe-groupbar
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid gainsboro;
    color: #777;
    line-height: 30px;
    padding: 5px 5px;
}

.awe-nest
{
    background: #f5f5f5;
}

.awe-nestcell
{
    padding: 0;
}

.awe-row, .awe-ghead, .awe-gfoot, .awe-hrow
{
    line-height: 1.7em;
}

.awe-row, .awe-ghead, .awe-gfoot
{
    background: #fff;
}

    .awe-row td, .awe-ghead td, .awe-gfoot td, .awe-hrow td, .awe-nest td
    {
        border-bottom: 1px #E5E5E5 solid;
    }

.awe-hrow td
{
    padding: 0;
}

.awe-ghead td, .awe-row td, .awe-gfoot td
{
    padding: 0.4em 0.7em;
}

.awe-hrow td, .awe-row td, .awe-gfoot td
{
    overflow: hidden;
    text-overflow: ellipsis;
}

.awe-row.awe-alt, .awe-li:nth-child(even):not(.awe-morecont)
{
    background: #f7f7f7;
}

.awe-row.awe-selected
{
    background-color: #FFFFA0;
}

.awe-grid .awe-header
{
    border-bottom: 1px solid #ccc;
}

.awe-grid .awe-footer
{
    border-top: 1px solid #ccc;
    padding: 0.3em;
    line-height: 2.2em;
    overflow: auto;
}

.awe-relbox
{
    width: 5em;
}

.awe-relbox .awe-ldgcnt {
    margin: 0 5px;
}

.awe-grid .awe-pager, .awe-grid .awe-relbox
{
    vertical-align: middle;
}

.awe-reload
{
    margin-right: 0.1em;
}

.awe-grid .awe-footer .awe-btn
{
    line-height: 2.2em;
    text-decoration: none;
    padding: 0 .9em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 2.5em;
}

.awe-grid table
{
    width: 100%;
    border-collapse: collapse;
}

.awe-idn
{
    width: 16px;
}

.awe-header td, .awe-header, .awe-hrow .awe-idn, .awe-drag
{
    background-image: linear-gradient(to bottom, #fefefe, #efefef);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #f5f5f5;
    color: #333;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.awe-col
{
    padding: 0.3em;
    color: #333;
    line-height: 26px;
    font-weight: 600;
}

.awe-groupbar .awe-col
{
    margin-right: 2px;
    border-radius: 2px;
    padding: 1px 3px 1px 5px;
    border: 1px solid #cecece;
}

.awe-remb
{
    padding: 0 5px 0 7px;
    cursor: pointer;
}

.awe-sortable, .awe-groupable
{
    cursor: pointer;
}

.awe-sord, .awe-rem, .awe-reload-ico
{
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.awe-desc .awe-sord, .awe-asc .awe-sord, .awe-rem, .awe-reload-ico
{
    background-image: url('awe_icons.png');
    cursor: pointer;
}

.awe-ce-ico
{
    background-image: url(pm.png);
    background-position: -21px 19px;
    height: 20px;
    width: 20px;
    vertical-align: middle;
}

td.awe-lf 
{
    padding-left: .97em;
}

.awe-ceb
{
    cursor: pointer;
}

.awe-collapsed .awe-ce-ico
{
    background-position: -1px 19px;
}

.awe-reload-ico
{
    width: 11px;
    background-position: -12px 23px;
}

.awe-rem
{
    background-position: -37px -30px;
}

.awe-asc .awe-sord
{
    background-position: -37px -76px;
}

.awe-desc .awe-sord
{
    background-position: -37px -52px;
}

.awe-selectable.awe-row:hover
{
    outline: 1px solid gold;
}

/* misc */

.awe-searchtxt
{
    margin-right: 2px !important;
}

.awe-lookup-popup .awe-li.awe-selected
{
    background-color: #ffffa0;
}

.awe-highlight
{
    background-color: #f7faf9 !important;
    color: gray !important;
}

.awe-changing, .awe-highlight, .awe-changing.awe-display, .awe-changing.awe-row
{
    background: #f8da4e;
    color: #915608;
}

.awe-uidialog
{
    position: fixed !important;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.awe-ldgcnt
{
    position: relative;
}

.awe-loading
{
    position: absolute;
    z-index: 1;
}

    .awe-loading span
    {
        background-image: url('loading.gif');
        width: 16px;
        height: 11px;
        margin: 0;
        padding: 0;
        background-repeat: no-repeat;
    }

    .awe-field .awe-loading, .awe-list .awe-loading
    {
        margin: 3px 0 0 10px;
    }

.awe-loadcont
{
    list-style: none;
}

.awe-load
{
    color: #ccc;
}

.awe-morecont .awe-loading
{
    position: static;
}

/* textbox */
.awe-txt-field.awe-field {
    min-width: 13em;
}

input.awe-display.awe-txt {
    width: 100%;
}

input[type="text"].awe-txt, .awe-searchtxt
{
	font: inherit;
    border-radius: 3px;
    margin: 0;
    padding: 4px 8px 4px;
    color: #333;
    border: 1px solid #D5D5D5;
    border-top-color: #B5B5B5;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    height: inherit;
}

    input.awe-txt.awe-hasSpinners
    {
        padding-right: 2em;
    }

.awe-spincont
{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 2.05em;
    border-radius: 0 3px 3px 0;
    border: 1px solid gainsboro;
    border-top-color: #B5B5B5;
	padding:0;
    box-sizing: border-box;
}

.awe-btn.awe-spinbtn
{
    width: 100%;
    height: 50%;
    border-radius: 0 2px 0 0;
    display: block;
    border: none;
    outline: none;
    background: none;
}

.awe-spindown.awe-spinbtn
{
    border-radius: 0 0 2px 0;
}

.awe-spinup-ico
{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: -4px;
    vertical-align: middle;
    border-bottom: 4px solid;
    border-right: 4px solid gray;
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-left: 4px solid gray;
    border-left: 4px solid rgba(0, 0, 0, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -2px;
}

.awe-spindown-ico
{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: -4px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid #000;
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-left: 4px solid #000;
    border-left: 4px solid rgba(0, 0, 0, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -2px;
}

/* rtl */

.awe-rtl.awe-multilookup-field, .awe-rtl.awe-lookup-field, .awe-rtl.awe-datepicker-field
{
    padding-left: 2em;
    padding-right: inherit;
}

.awe-rtl.awe-multilookup-field .awe-display, .awe-rtl.awe-lookup-field .awe-display, .awe-rtl.awe-datepicker-field .awe-display {
    border-radius: 0 3px 3px 0;
}

.awe-rtl .awe-openbtn, .awe-rtl .awe-dpbtn, .awe-rtl .awe-clearbtn
{
    left: 0;
    right: auto;
}

.awe-rtl .awe-openbtn, .awe-rtl .awe-dpbtn
{
    border-radius: 2px 0 0 2px;
    border-left-style: solid;
}

.awe-rtl.awe-datepicker-field input[type="text"].awe-display {
    border-radius: 0 3px 3px 0;
}

.awe-rtl .awe-spincont {
    left: 0;
    right: auto;
    border-radius: 3px 0 0 3px;
}

.awe-rtl .awe-clearbtn
{
    right: auto;
    left: 2em;
}

.awe-rtl .awe-spinbtn {
    border-radius: 2px 0 0 0;
}

.awe-rtl .awe-spindown.awe-spinbtn {
    border-radius: 0 0 0 2px;
}

.awe-rtl input.awe-txt.awe-hasSpinners
{
    padding-right: 8px;
    padding-left: 2em;
}

/* grid rtl ltr*/

.awe-rtl .awe-relbox .awe-loading 
{
    right: 0;
}

.awe-rtl .awe-relbox .awe-ldgcnt {
    margin: 0 9px;
}

.awe-ltr .awe-hrow td, .awe-ltr .awe-row td, .awe-ltr .awe-gfoot td, .awe-ltr .awe-ghead td
{
    border-right: 1px solid gainsboro;
}

.awe-rtl .awe-hrow td, .awe-rtl .awe-row td, .awe-rtl .awe-gfoot td, .awe-rtl .awe-ghead td
{
    border-left: 1px solid gainsboro;
}

.awe-ltr.awe-nh .awe-hrow td:last-child, .awe-ltr.awe-nh .awe-row td:last-child, .awe-ltr.awe-nh .awe-gfoot td:last-child, .awe-ltr.awe-nh .awe-ghead td:last-child
{
    border-right: none;
}

.awe-rtl.awe-nh .awe-hrow td:last-child, .awe-rtl.awe-nh .awe-row td:last-child, .awe-rtl.awe-nh .awe-gfoot td:last-child, .awe-rtl.awe-nh .awe-ghead td:last-child
{
    border-left: none;
}

.awe-ltr .awe-hrow td
{
    text-align: left;
}

.awe-rtl .awe-hrow td
{
    text-align: right;
}

.awe-ltr .awe-idn
{
    border-right: none !important;
}

.awe-rtl .awe-idn
{
    border-left: none !important;
}

.awe-rtl .awe-col
{
    padding-right: 0.7em;
}

.awe-ltr .awe-col
{
    padding-left: 0.7em;
}

.awe-rtl td.awe-lf 
{
    padding-right: .97em;
}

/* jquery ui style override, there is more overrides ^ */
.ui-dialog
{
    overflow: visible;
}

.ui-dialog-titlebar
{
    font-size: 15px !important;
    border-bottom: 1px solid #eee !important;
    text-rendering: optimizelegibility;
    font-family: "Segoe UI", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    font-weight: 500;
    color: #555;
}

.ui-dialog .ui-dialog-title
{
    width: auto;
}

.ui-dialog .ui-dialog-titlebar
{
    padding: 0.7em 1em;
}

.ui-dialog .ui-dialog-buttonpane
{
    padding: 7px;
    margin-bottom: 0;
    text-align: right;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    margin-top: 0;
}

.ui-widget-content
{
    padding: 0;
}

.ui-widget-header
{
    border: none;
    background: none;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close
{
    border: none;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 40px;
    margin: -10px 0 0 0;
	outline: none;
}

.ui-datepicker-calendar .ui-state-default
{
    background-image: none !important;
    border: none;
    background-color: #fafafa;
    color: #333;
}

.ui-datepicker-calendar .ui-state-default.ui-state-highlight {
    border: 1px solid #dcdcdc;
    background: #fafafa;
    color: #333;
}

.ui-datepicker-calendar .ui-state-default.ui-state-hover {
    background: #f0f0f0;
    color: #333;
}

.ui-datepicker-calendar .ui-state-default.ui-state-active {
    color: #000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
    border-color: #C5C5C5;
    background-color: #DADADA;
    border-radius: 2px;
}